.footer-profilo {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.footer-profilo a {
  text-decoration: none;
  color: #62615f;
}

.dropdown-toggle {
  background-color: transparent;
  border: none;
  color: #62615f;
  padding: 0;
  font-size: small;
}

a {
  text-decoration: none;
  color: #62615f;
  font-size: small;
}
