.footer-profilo ul {
  padding-left: 10px;
}

.footer-profilo ul li {
  list-style: none;
  margin-bottom: 0.5em;
}

.dropdown-class {
  background-color: transparent;
  border: none;
  color: #62615f;
  padding: 0;
  font-size: small;
}

a {
  text-decoration: none;
  color: #62615f;
  font-size: small;
}

.linguage-dropdown {
  background-color: white;
  border: solid 1px #ccc;
  color: #62615f;
  padding: 5px 15px;
  font-size: small;
  border-radius: 10px;
}

.linguage-dropdown:hover {
  border: solid 2px black;
  background-color: white;
}
