.post-form-container {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    padding-bottom: 0;
    background-color: white;
    margin-bottom: 1rem;
}

.form-post {
    display: flex;
    gap: 10px;
    align-items: center;
}

.form-img {
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: 40px;
}

.form-text {
    padding: .5rem;
    /* color: rgba(0, 0, 0, 0.594); */
    width: 100%;
    border-radius: 20px;

}

.form-actions {
    display: flex;
    justify-content: space-around;
}

.form-button {
    padding-bottom: 0;
}