.post-card {
  width: 100%;
  border-radius: 8px;
  background-color: white;
  padding: 15px;
  padding-bottom: 3px;
  margin-bottom: 2rem;
}

.post-caption {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.post-img {
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.post-profile {
  display: flex;
  flex-direction: column;
  gap: 0;
  font-size: 12px;
}

.post-description {
  margin: 0;
  white-space: normal;
}

.post-desc-toggle {
  background: none;
  font-size: 14px;
  border: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.594);
  cursor: pointer;
  font-family: inherit;
}

.post-desc-toggle:hover {
  text-decoration: underline;
  background: none;
  color: rgba(0, 0, 0, 0.594);
}

.post-media-img,
.post-media-video {
  width: 100%;
  max-height: 520px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.post-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  border-top: 1px solid lightgray;
}

.post-button {
  background: none;
  border: 0;
  color: black;
  cursor: pointer;
  font-family: inherit;
  padding: 10px 10px;
  border-radius: 8px;
}

.post-button:hover {
  text-decoration: underline;
  background: lightgray;
  color: black;
}
