* {
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-color: #f4f2ee;
}

.company-image {
  width: 30px;
  height: auto;
}
.no-margin {
  margin: 0 !important;
  padding: 0 !important;
}
.sticky-side {
  position: sticky;
  top: 75px;
  /* distanza dall’alto (navbar) */
  align-self: flex-start;
  height: fit-content;
}
